@{
    ViewData["Title"] = "Formação";
}

<div class="text-center">
    <h1 class="display-4">Formação</h1>

    <h2>Curso na UFCD do Formador Rui Monteiro</h2>
    <p>Atualmente, estou a frequentar a Unidade de Formação de Curta Duração (UFCD) ministrada pelo formador Rui Monteiro. Esta formação está a ocorrer em Vila Nova de Gaia e abrange diversos tópicos relevantes para o meu desenvolvimento profissional.</p>

</div>