@{
    ViewData["Title"] = "O meu site";
}

<div class="text-center">
    <h1 class="display-4">Meu primeiro site</h1>
    </br>
    <img src="https://raw.githubusercontent.com/ManuelGil/vscode-moodle-snippets/main/icon.png" width="40" height="40">
    </br>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
