@{
    ViewData["Title"] = "Os meus Interesses";
}

<div class="text-center">
    <h1 class="display-4">Os meus interesses</h1>

    <h2>ASP.NET MVC</h2>
    <p>Desenvolver aplicações Web utilizando o framework ASP.NET MVC é uma das minhas principais áreas de interesse. Este framework oferece uma arquitetura poderosa para criar aplicações escaláveis e robustas.</p>

    <h2>C#</h2>
    <p>Programar em C# é uma parte essencial do meu percurso de aprendizagem. A linguagem C# proporciona uma sintaxe elegante e é altamente integrada com o ecossistema .NET, permitindo-me criar aplicações eficientes e modernas.</p>

    <p>Explorar a interseção entre ASP.NET MVC e C# é particularmente emocionante, pois estas tecnologias complementam-se, possibilitando o desenvolvimento de aplicações Web dinâmicas e eficazes.</p>
</div>
