@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Data de entrada em vigor: 05 de Janeiro de 2024</p>

<p>Esta Política de Privacidade descreve como sitexemplo recolhe, utiliza e partilha as informações pessoais dos utilizadores.</p>

<p><strong>1. Informações Recolhidas:</strong></p>

<p>1.1. <strong>Informações Pessoais:</strong></p>
<ul>
    <li>Nome</li>
    <li>Endereço de e-mail</li>
    <li>Informações de contato</li>
</ul>

<p>1.2. <strong>Informações de Utilização:</strong></p>
<ul>
    <li>Dados de acesso</li>
    <li>Páginas visitadas</li>
    <li>Tempo de permanência no site/aplicação</li>
</ul>

<p><strong>2. Uso das Informações:</strong></p>

<p>2.1. Utilizamos as informações pessoais para:</p>
<ul>
    <li>Fornecer os serviços solicitados</li>
    <li>Personalizar a experiência do utilizador</li>
    <li>Enviar atualizações e informações relevantes</li>
</ul>

<p>2.2. Não partilhamos as tuas informações pessoais com terceiros sem o teu consentimento, a menos que seja exigido por lei.</p>

<p><strong>3. Cookies e Tecnologias Similares:</strong></p>

<p>3.1. Utilizamos cookies e outras tecnologias de rastreamento para:</p>
<ul>
    <li>Melhorar a funcionalidade e desempenho</li>
    <li>Analisar padrões de utilização</li>
    <li>Personalizar o conteúdo</li>
</ul>

<p><strong>4. Segurança:</strong></p>

<p>4.1. Implementamos medidas de segurança para proteger as tuas informações contra acesso não autorizado ou divulgação.</p>

<p><strong>5. Direitos do Utilizador:</strong></p>

<p>5.1. Podes aceder, corrigir ou apagar as tuas informações pessoais a qualquer momento.</p>

<p><strong>6. Alterações à Política de Privacidade:</strong></p>

<p>6.1. Reservamo-nos o direito de atualizar esta política periodicamente. As alterações serão publicadas no site/aplicação.</p>

<p><strong>7. Contacto:</strong></p>

<p>7.1. Se tiveres alguma dúvida sobre esta Política de Privacidade, entra em contacto connosco através de siteexemplo@privacypolicy.pt .</p>
