@{
    ViewData["Title"] = "Sobre mim";
}


<div class="text-center">
    <h1 class="display-4">Tudo sobre mim</h1>

    <p> O meu nome é Marco Gonçalves, tenho 23 anos e frequento o IEFP de vila nova de gaia</p>
</div>